<p id="notice"><%= notice %></p>

<p>
  <strong>Priority:</strong>
  <%= @note.priority %>
</p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
